{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/css/estilos2.css' %}">
    <title>Tienda de Mascotas</title>
</head>
<body>
    <header>
        <h1>Tienda de Mascotas</h1>
    </header>

<nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/user">Registro Clientes</a>
        </li>
        <li>
            <a href="/iniciar">Iniciar Sesion</a>
        </li>
        <li>
            <a href="/perfil">Mi Perfil</a>
        </li>
        <li>
            <a href="/carro">Mi Carro</a>
        </li>
    </ul>
        
</nav>

{% block content %}
{% endblock %}