{% extends 'web/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/css/estilos2.css' %}">
    <title>Carro de Compras</title>
</head>
<body>
    
    <div class="container">
        <h1>Carrito de Compras</h1>
        <div id="cart-items">
            <!-- Aquí se mostrarán los elementos del carrito -->
        </div>
        <button id="clear-cart">Vaciar Carrito</button>
    </div>

    <script src="{% static 'js/javascript.js' %}"></script>
    
    <div>
        <a class="btn btn-primary" href="{% url 'index' %}">Volver</a>
    </div>
    <footer>
        <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
{% endblock %}