{% extends 'web/base.html' %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/css/estilos2.css' %}">
    <title>Tienda de Mascotas</title>
</head>
<body>
    
    <section>
        <div class="product">
            <img src="{% static 'web/Imagenes/fit_gato.jpg' %}" alt="Fit Gato">
            
            <h3>Fit Formula Gato Adulto</h3>
            <p>Alimento premium para gatos adultos de 1 a 7 años. Formato: 10 Kg.</p>
            <p>Precio: $24.900 CLP</p>
            <button class="add-to-cart">Agregar al Carro</button>
        </div>

        <div class="product">
            <img src="{% static 'web/Imagenes/bravery_cat.jpg' %}" alt="Bravery Gato">            
            <h3>Bravery Salmon Adult Cat</h3>
            <p>Alimento completo para gatos adultos con salmón. Formato: 7 Kg.</p>
            <p>Precio: $55.500</p>
            <button class="add-to-cart">Agregar al Carro</button>
        </div>
        <!-- Añade más productos según sea necesario -->
    </section>
    <div>
        <a class="btn btn-primary" href="ejemplo.html">Volver</a>
    </div>
    <footer>
        <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
{% endblock %}