{% extends 'web/base.html' %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/css/estilos2.css' %}">
    <title>Tienda de Mascotas</title>
</head>
<body>    
    <section>
        {% for producto in productos_gato %}
        <div class="product">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.descripcion }}">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio }}</p>
            <button class="add-to-cart">Agregar al Carro</button>
        </div>
        {% endfor %}
    </section>
    <div>
        <a class="btn btn-primary" href="/producto">Volver</a>
    </div>
    <footer>
        <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
{% endblock %}