{% extends 'web/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil - PlayZone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'web/css/estilos2.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>

<body>
    <div class="container profile-container">
        <h2>Mi Perfil</h2>
        <div class="profile-info">
            <label for="nombre"><h4>Nombre:</h4></label>
            <p>{{name}}</p>
            
        </div>
        <div class="profile-info">
            <label for="username"><h4>Username:</h4></label>
            <p>{{username}}</p>
        </div>
        <div class="profile-info">
            <label for="email"><h4>Email:</h4></label>
            <p>{{email}}</p>
        </div>
        <div class="profile-info">
            <label for="fecha_nacimiento"><h4>Fecha de Nacimiento:</h4></label>
            <p>{{birthdate}}</p>
        </div>
        <div class="profile-info">
            <label for="direccion"><h4>Dirección:</h4></label>
            <p>{{address}}</p>
        </div>
        <div class="text-center">
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
</footer>
</html>
{% endblock %}
