<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en el restablecimiento de contraseña</title>
    <!-- Agrega cualquier otro estilo necesario -->
</head>
<body>
    <h1>Error en el restablecimiento de contraseña</h1>
    <p>Ocurrió un error al procesar tu solicitud de restablecimiento de contraseña. Por favor, inténtalo de nuevo más tarde.</p>
    <!-- Puedes personalizar este mensaje según tus necesidades -->
    
    <!-- Agrega un botón para regresar a la página de recuperación de contraseña -->
    
    <a href="/recupera">Volver a la página de recuperación de contraseña</a>
</body>
</html>