body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5BC8AC;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #F18D9E;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}
nav a:hover {
    background-color: #999;
}
section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.product-img {
    max-width: 200px; /* Ancho m치ximo de la imagen */
    max-height: 200px; /* Altura m치xima de la imagen */
}
footer {
    background-color: #E6D72A;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-primary {
    margin-top: 10px;
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color:#98DBC6;   
    color: #fff;
    border: none;
    cursor: pointer;
    display: block; /* Para ocupar todo el ancho disponible */
    width: fit-content; /* Ancho ajustado al contenido */
}


.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color:#98DBC6;;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #093918;
}

.menu-container {
    width: 100%;
    background: #343a40;
    padding: 10px 0;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

button {
    margin-top: 10px; /* Espacio arriba del bot칩n */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color:#98DBC6;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-evenly; /* Espacio entre los elementos para expandir en tres columnas */
    max-width: 400px; /* Opcional: ajusta el ancho m치ximo del contenedor */
    margin: auto; /* Opcional: para centrar el contenedor horizontalmente */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-item img {
    max-width: 100px;
}

#clear-cart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: 98DBC6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
