<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="../estilos2.css">
    <title>Carro de Compras</title>
</head>
<body>
    <header>
        <h1>Tienda de Mascotas</h1>
    </header>
    <nav>
        <a href="ejemplo.html">Inicio</a>
        <a href="User_reg.html">Registro Clientes</a>
        <a href="iniciarsesion.html">Iniciar Sesion</a>
        <a href="miperfil.html">Mi Perfil</a>
        <a href="../carro.html">Mi Carro</a>
    </nav>
    <div class="container">
        <h1>Carrito de Compras</h1>
        <div id="cart-items">
            <!-- Aquí se mostrarán los elementos del carrito -->
        </div>
        <button id="clear-cart">Vaciar Carrito</button>
    </div>

    <script src="script.js"></script>
    <div>
        <a class="btn btn-primary" href="ejemplo.html">Volver</a>
    </div>
    <footer>
        <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>